.anchor{
    margin: 30px;
}
.anchor a{
    color:white;
    font-size: 2rem;
    background: #283747;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    
}
.anchor a:hover{
    color: orangered;
    
}
.anchor p{
    font-size: 1rem;
    text-align: left;
    text-align: justify;
}
.owner-pic{
    border: 2px solid black;
    border-radius: 5px;
    margin: 8px;
    float: left;
}