
.anchor a{
    color: slategrey;
    font-size: 2rem;
    text-decoration: none;
}
.anchor a:hover{
    color: orangered;
    text-decoration: none;
}
.anchor p{
    font-size: 1rem;
    text-align: left;
}